header {
	background: url(../images/Broadcom-background-dark2.jpg);
	background-size:cover;
	background-repeat:no-repeat;

	background-color:transparent;
}

header::after {
	background: url(../images/Broadcom-background.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	opacity: 0.5;
}

#tabPanel {
	border-radius:8px;
}
#tabbar-1009-innerCt {
	background-color:#333;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
}

a.x-tab {
	color:white !important;
	}
.x-tab-default-top: {
	box-shadow: inset 0 0 0 10px lightGreen !important;
}

.x-tab-default .x-tab-inner {
	color:#eee;
} 
.x-tab-inner {
	color:#eee;
} 

#tabbar-1009-targetEl a {
	box-shadow: inset 0 0 0 10px #222 !important;
}

#tabbar-1009-targetEl a:hover {
	box-shadow: inset 0 0 0 10px #444 !important;
	color:#a00;
}

#tabbar-1009-targetEl a.x-tab-default-top-active {
	box-shadow: inset 0 0 0 10px #000 !important;
	color:a00;

}

header menu a:hover {
        background-color:#035096 !important;
}

.x-btn-inner {
	color: #035096 !important;
}
